.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.titleBg {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ee8695;
}

.palette {
  display: block;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
}

.lens {
  transition: top 2s ease-in-out;
}

.scrollBg {
  background-color: #ee8695;
  border-radius: 7px;
}